@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
    margin: 0;
    padding: 0;
}

.cbalink {

    display: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-image: url("img/background.png");
    color: #aaaaaa;
}

body, html, #wrapper {
    height: 100%;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
}

#head {
    width: 100%;
    height: 50px;
    background-image: url('img/head_background.png');
    position: fixed;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

#headMenu {
    width: 960px;
    height: 50px;
    margin: auto;
    display: flex;
}

#login, #logout{
    margin-left: auto;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 14px 0;
    cursor: pointer;
    transition: background 100ms ease;
}

#login:hover, #logout:hover{
    background-color: rgba(0,0,0,0.5);
}

#logout{
    margin: 0;
}

.user-name{
    color: #737373;
    margin-left: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 14px 0;
    transition: background 100ms ease;
}

#logo {
    display: flex;
    width: 200px;
    height: 50px;
}

#logo img {
    margin: auto;
}

#content {
    display: flex;
    width: 950px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 50px;
    z-index: 1;
    right: 0;
    margin: auto;
    align-items: flex-start;
    justify-content: flex-start;
}

.post {
    max-width: 248px;
    height: 270px;
    background-color: aliceblue;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 1px #101010;
    cursor: pointer;
}

.postTitle {
    box-sizing: border-box;
    max-width: 250px;
    min-width: 200px;
    height: 75px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
}

.postName {
    order: 0;
    color: #d6d6d6;
    font-size: 18px;
}

.dataut {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.author {
    order: 0;
    color: #737373;
}

.date {
    order: 1;
    align-self: flex-end;
    color: #737373;
}

.image {
    height: 195px;
    text-align: center;
}

#sideMenu {
    width: 200px;
    position: fixed;
}

.sideMenuItem > a > div {
    color: #e4e4e4;
    width: 100%;
    transition: ease 300ms;
    border-radius: 3px 0 0 3px;
}

.sideMenuItem > a {
    text-decoration: none;
}

.sideMenuItem > a > div:hover {
    background-color: rgba(228, 228, 228, 0.75);
    color: #1f1f1f;
}

#posts {
    display: flex;
    width: 750px;
    top: 0;
    position: absolute;
    right: 0;
    background-color: #353535;
    flex-wrap: wrap;
}

.zoom {
    width: 248px;
    height: 195px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: absolute;
}

.zoom > img {
    width: 32px;
    margin: auto;
    position: absolute;
    right:108px;
    top:92px;
}

.logform-container{
    display: none;
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}

.logform{
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    background-color: #737373;
    margin: auto;
    width: 400px;
    height: 360px;
    box-shadow: 0 0 15px #000;
    padding: 10px;
}
label{
    color: #101010;
}
input{
    padding: 5px;
    width: 385px;
}

#register{
    width: 400px;
}

.closelog, .closeimg{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
    background: url("/site/img/x.png") center no-repeat;
    cursor: pointer;
}
.reg{
    text-align: center;
    color: #1f1f1f;
    cursor: pointer;
    background-color: #747474;
}

.zoom-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
    overflow-y: scroll;
    display: none;
}

.img-container{
    position: relative;
    right: 0;
    left: 0;
    width: 960px;
    top: 15px;
    background-color: #101010;
    margin: auto;
}

.img{
    width: 960px;
    text-align: center;
    line-height: 0;
}

.img-title{
    width: 960px;
    height: 100px;
}

.tit-name{
    padding: 5px 5px 5px 10px;
    font-size: 30px;
    width: 640px;
    display: inline-block;
}

.tit-author{
    width: 290px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.tit-date{
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 10px;
}
.like{
    width: 480px;
    display: inline-block;
}
.like-btn{
    background-color: #375f87;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}